.btn {
  margin-top: 20px;

  border: none;
  cursor: pointer;
  font-size: inherit;
  background-color: cadetblue;
  color: white;
  padding: 10px 50px;
}

h1 {
  position: absolute;

  top: 80px;
  left: 47%;

  margin: 20px;

  font-family: Luminari, fantasy;
  font-weight: normal;

  color: #275355;
}

.modal,
.modal2,
.modal3 {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;
  align-items: center;
  justify-content: center;
}

.modal_window {
  position: relative;
  z-index: 2;

  width: 450px;

  padding: 15px;

  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);

  background-color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: black;
  opacity: 0.7;

  z-index: 0;
}

.btn-close {
  position: absolute;

  right: 20px;
  top: 20px;

  width: 30px;
  height: 30px;

  text-align: center;

  border: none;
  cursor: pointer;
  font-size: 15px;
  background-color: white;
  color: cadetblue;
  padding: 5px;

  border: 1px solid cadetblue;
  border-radius: 60px;

  opacity: 0.7;
}

.btn-close:hover {
  opacity: 1;
}

/*Form*/

.form {
  width: 100%;
  padding: 30px;
  font-size: 16px;

  transition: 0.5s;
}

.form_singin {
  left: 0;
  transition-delay: 0.25s;
}

.form_singup {
  left: 100%;
  transition-delay: 0s;
}

.form_title,
.form_input,
.form_btn,
.form_select {
  margin: 10px;
}

.form_title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;

  margin-bottom: 20px;
}

.form_input {
  width: 100%;
  padding: 10px;
  border: solid 1px #333;
  font-size: inherit;
}

.form_btn {
  border: none;
  cursor: pointer;
  font-size: inherit;
  background-color: cadetblue;
  color: white;
  padding: 10px 50px;
}

.form_select {
  width: 100%;
  padding: 10px;
  border: solid 1px #333;
  font-size: inherit;
}

label {
  margin-top: 15px;
  margin-bottom: 0;
  padding: 10px;
}

.error {
  border-color: red;
}

/*Cards*/

.cont {
  max-width: 1100px;
  min-height: 350px;

  text-align: center;

  margin: 200px auto;
}

.cont_style {
  background-color: rgba(255, 255, 255, 0.49);
  border-radius: 10px;
}

.card {
  display: inline-block;

  width: 280px;
  height: 280px;

  margin: 40px 20px 40px 20px;

  border-radius: 10px;
  background-color: white;
}

.img_card {
  width: 100%;
  height: 50%;
}

.img_card img {
  width: 100%;
  height: 100%;

  border-radius: 10px;
}

.content {
  margin: 20px;
}
